.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table {
  width: 80%;
  border-collapse: collapse;
  border: 1px solid black;
}

.table th,
.table td {
  padding: 15px;
  text-align: left;
  border: 1px solid black;
}

.table th {
  background-color: green;
  color: white;
}
